/* CORES */

:root{
--verde-verao: #00CD66;
--verde-verao2: #008B45 ;
--branco: #ffffff;
--texto: #333;
}

/* ESTILO GERAIS */

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--branco);
    color: black;
    list-style: 1.6;
}

/* CABEÇALHO */

header{
    background-color: var(--verde-verao);
color: white;
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem 2rem;
flex-direction: wrap;
}

.logo h1{
    margin: 0;
    font-size: 1.6rem;
}